.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 64px;
  }
}
.paginationItem {
  background-color: transparent;
  /* background: rgba(255, 255, 255, 0.04); */
  color: var(--text-color);
  /* gap: 8px; */
  padding: 5vw;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 375px) {
    margin-right: 4px;
    padding: 20px;
  }
  @media screen and (min-width: 768px) {
    /* padding: 16px; */
    margin-right: 8px;
  }
}
.paginationItem:has(.paginationArrowIcon) {
  background-color: rgba(255, 255, 255, 0.04);
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.paginationItemActive {
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: default;
}
.paginationItemFirstInRow {
  margin-left: 32px;
}
.paginationItemLastInRow {
  margin-right: 32px;
}
.paginationText,
.paginationArrowIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.paginationNextArrowIcon {
  transform: translate(-50%, -50%) rotate(180deg);
}
