.phone > div {
  border-radius: 42px;
  background-color: var(--bg-color);
  background-image: url("../../images/banners/phone2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: 500px 150px; */
  background-position: 61% 150px;
  /* background-clip:; */
  /* padding-top: 200px;
  padding-bottom: 100px; */
  height: 720px;
}
.phoneImg {
  /* width: 675px;
  height: 720px;
  object-fit: cover;
  object-position: top; */
}
