.btnScroll {
	background-color: #fdff61;
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
	width: 60px;
	padding: 10px;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0.8;

	font-size: 30px;
	color: #fff;
	transition: 0.2s linear;
	cursor: pointer;
	z-index: 99;
	border-radius: 30px;
}


.btnScroll:hover {
	opacity: 1;

}
.btnScroll:focus {
    
	outline: none;
}
