header {
  z-index: 3;
  position: absolute;
  justify-items: center;
  display: flex;
  align-items: center;
  top: 32px;
  width: 330px;
  left: 50%;
  transform: translate(-50%);
  @media screen and (min-width: 768px) {
    width: 660px;
  }
  @media screen and (min-width: 1440px) {
    width: 1310px;
  }
}

.header_logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #f7f7f7;
  font-size: 20px;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 29px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.header__logo_svg {
  margin-right: 12px;
}

.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 48px;
    margin-right: 48px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 0px;
    margin-left: 100px;
  }
}

.navigation_list {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}

.navigation__item_page {
  text-decoration: none;
  /* flex-wrap: nowrap; */
  color: #f7f7f7;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.navigation__list_item:hover .boll {
  @media screen and (min-width: 768px) {
    
      display: block;
      background-color: rgb(253, 255, 97);
 }
}

/* .navigation__item_page:hover::after {
  @media screen and (min-width: 768px) {
    opacity: 1;
    transform: scaleX(1);
  }
} */

.contact__list_svg {
  border-radius: 50%;

  background: #fdff61;
}

.contact__list_svg:hover {
  border-radius: 50%;
  background: rgb(229, 232, 51);
}

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    /* margin-right: 48px; */
  }
}

.contact_list {
  display: flex;
  gap: 18px;
}

.burger_button {
  width: 28px;
  height: 28px;
  margin-left: 140px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.boll {

  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  
}

