@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.artistInfoBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: blur(5px); */
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 8;
}

.artistInfoModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  /* width: 344px; */
  height: 915px;
  display: flex;
  flex-direction: column;
  /* align-items: start;
  justify-content: center; */
  /* gap: 32px; */
  border-radius: 20px;
  border: 1px solid rgba(253, 255, 97, 0.4);
  background-color: var(--bg-secondary-color);

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 32px;
    width: 705px;
    height: 665px;
    /* gap: 32px; */
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    /* padding: 32px; */
    width: 864px;
    height: 586px;
    flex-direction: row;
    align-items: flex-start;
  }
}

.closeArtistInfoBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  /* background-size: 200% 100%; */
  animation: wave 2s infinite linear;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
  }

  & > img {
    width: 16px;
    height: 16px;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.artistInfoImg {
  width: 312px;
  height: 228px;
  border-radius: 20px;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: wave 2s infinite linear;

  @media screen and (min-width: 768px) {
    width: 228px;
    height: 228px;
  }

  @media screen and (min-width: 1200px) {
    width: 237px;
    height: 237px;
  }
}

.artistInfoName {
  width: 30px;
  height: 29px;
  border-radius: 4px;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: wave 2s infinite linear;
  height: 22px;
  width: 123px;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.artistInfoDescription {
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: wave 2s infinite linear;
  width: 312px;
  height: 170px;
  margin-top: 16px;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 380px;
    height: 136px;
  }

  @media screen and (min-width: 1200px) {
    width: 531px;
    height: 102px;
  }
}

.artistInfoSongsTitle {
  width: 66px;
  height: 29px;
  border-radius: 4px;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: wave 2s infinite linear;
  margin-top: 32px;
}

.artistsInfoSongsList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  width: 312px;
  height: 314px;

  @media screen and (min-width: 768px) {
    width: 641px;
    height: 296px;
  }

  @media screen and (min-width: 1200px) {
    width: 531px;
    height: 296px;
  }
}

.artistInfoSongItem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 12px;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: wave 2s infinite linear;

  @media screen and (min-width: 768px) {
    height: 44px;
  }

  /* @media screen and (min-width: 1200px) {
    height: 44px;
  } */
}

.artistInfoSongNumber {
  width: 2rem;
}

.artistInfoSongName {
  margin-left: 16px;
  width: 75px;
  max-height: 28px;
}

.artistInfoSongAlbum {
  margin-left: 24px;
  margin-right: 76px;
  width: 60px;
  max-height: 28px;
}

.artistInfoMovieLink {
  margin-left: auto;
}

.test {
  gap: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }

  /* @media screen and (min-width: 1200px) {
    align-items: start;
  } */
}