.feedback{
    width: 375px;
    display: flex;
    gap: 16px;
    margin: 0 auto 16px;
    font-family: Urbanist;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        width: 736px;
    }
    @media screen and (min-width: 1440px) {
        width: 1408px;
    }
}
.part1{
    border-radius: 22px;
    background: rgb(25, 25, 25);
    width: 343px;
    height: 392px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
        border-radius: 42px;
        width: 360px;
        height: 554px;
    }
    @media screen and (min-width: 1440px) {
        width: 696px;
        height: 535px;
    }
}
.banner{
    width: 268px;
    height: 172px;
    @media screen and (min-width: 768px) {
        width: 318px;
        height: 204px;
    }
    @media screen and (min-width: 1440px) {
        width: 442px;
        height: 281px;
    }
}
.part2{
    width: 343px;
    height: 455px;
    border-radius: 22px;
    background: rgb(25, 25, 25);
    padding: 32px 16px;
    @media screen and (min-width: 768px) {
        border-radius: 42px;
        width: 360px;
        height: 554px;
        padding: 64px 32px;
    }
    @media screen and (min-width: 1440px) {
        width: 696px;
        height: 535px;
        padding: 64px 171px;
    }
}
.subtitle{
    color: rgb(247, 247, 247);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -1%;
}
.desc{
    margin-top: 16px;
    color: var(--text-secondary-color);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -1%;
}
.feedbackForm{
    margin-top: 32px;
}
.ratingCont{
    width: 185px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}
.placehold{
    color: rgba(247, 247, 247, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -1%;
}
.ratingButs{
    width: 128px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.ratingBut{
    width: 24px;
    height: 24px;
}
.nameInput{
    margin-top: 14px;
    border: 1px solid rgba(247, 247, 247, 0.2);
    border-radius: 16px;
    width: 311px;
    height: 49px;
    padding: 15px;
    background-color: transparent;
    color: rgba(247, 247, 247, 0.4);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -1%;
    transition: all .3s;
    &:valid {
        border: 1px solid var(--text-secondary-color);
        color: rgb(247, 247, 247);
    }
    @media screen and (min-width: 768px) {
        width: 296px;
    }
    @media screen and (min-width: 1440px) {
        width: 353px;
    }
}
.commentInput{
    margin-top: 14px;
    border: 1px solid rgba(247, 247, 247, 0.2);
    border-radius: 16px;
    width: 311px;
    height: 91px;
    padding: 15px;
    background-color: transparent;
    color: rgba(247, 247, 247, 0.4);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -1%;
    &:valid {
        border: 1px solid var(--text-secondary-color);
        color: rgb(247, 247, 247);
    }
    @media screen and (min-width: 768px) {
        width: 296px;
    }
    @media screen and (min-width: 1440px) {
        width: 353px;
    }
}
.sendBut{
    margin-top: 32px;
    width: 109px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgb(253, 255, 97);
    color: rgb(25, 25, 25);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -1%;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background: rgb(229, 232, 51);
    }
}