.footer {
 
    /* justify-content: space-between; */
    background-color: var(--bg-color);
    border-radius: 10px 10px 0 0;
    color: var(--text-color);
    width: 343px;
    height: 267px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 42px;

    @media screen and (min-width: 768px) {
      width: 736px;
    }
    @media screen and (min-width: 1440px) {
      padding-bottom: 64px;
      display: flex;
      width: 1408px;
    }
}


.border_footer {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(247, 247, 247, 0.1);
}

.footer_container {
  width: 310px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    width: 630px;
  }
  @media screen and (min-width: 1440px) {
    /* */
    
    width: 1310px;
  }
}


.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: var(--text-secondary-color);
  text-decoration: none;
  /* transition: color 0.3s; */
  font-family: Urbanist;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

}



.contact__list_svg {
  margin-top: 35px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #FDFF61;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-top: 64px;
  }

}

.contact__list_svg:hover {
  border-radius: 50%;
  background: rgb(229, 232, 51);
}



.contact_list {
  margin-left: auto;
  display: flex;
  gap: 10px;
  @media screen and (min-width: 768px) {

    gap: 18px;
  }
}


.footer_logo {
  text-decoration: none;
  margin-top: 35px;
  display: flex;
  align-items: center;
  color: #f7f7f7;
  font-size: 20px;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 29px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-top: 64px;
  }

}

.footer__logo_svg {
  
  margin-right: 12px;
}


.copyright {
  text-decoration: none;
  color: rgb(247, 247, 247);
font-family: Urbanist;
font-size: 16px;
font-weight: 400;
line-height: 19px;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: auto;
  }
}