@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap");

body {
  background-color: var(--bg-secondary-color);
  font-family: Urbanist;
}

:root {
  --bg-color: #191919;
  --bg-secondary-color: #101010;
  --accent-color: #fdff61;
  --text-color: #f7f7f7;
  --text-secondary-color: rgba(247, 247, 247, 0.8);
}
