.container{
    width: 1408px;
    height: 274px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 50px;
    border-radius: 42px;
    background-color: var(--accent-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
       width: 736px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-top: 0px;
        width: 343px;
        height: 184px;
        margin-left: 22px;
        margin-right: 22px;
    }
}

.sectionContainer{
  height: 1065px;
}

@media (max-width: 480px) {
    .sectionContainer {
        height: 600px;
    }
}
.containerImg{
    width: 1408px;
    height: 274px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px) {
    .containerImg {
        width: 343px;
        margin: 0;
        height: 392px;
    }
}

.bannerContainer {
    display: flex;  
    align-items: center;  
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
  }

  @media (max-width: 768px) {
    .bannerContainer {
       width: 736px;
       padding-left: 50px;
      padding-right: 50px;
    }
}

@media (max-width: 480px) {
    .bannerContainer {
        width: 343px;
        height: 184px;
    }
}
  
  .headphonesImg {
    width: 196px;
    height: 187px;
    border: none
  }

@media (max-width: 480px) {
    .headphonesImg {
        width: 94px;
        height: 105px;
    }
}

  .phoneImg{
    width: 1408px;
    height: 720px;
  }

  @media (max-width: 768px) {
    .phoneImg {
       width: 736px;
    }
}

@media (max-width: 480px) {
    .phoneImg {
        width: 343px;
        height: 392px;
        margin-left: 22px;
        margin-right: 22px;
    }
}
  
  .textContainer {
    flex: 1;
  }
  
  
  .text {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -3%;
    text-align: left;
  }

  @media (max-width: 480px) {
    .text {
        font-family: Urbanist;
        font-size: 18px;
        line-height: 20px;
    }
}
  .secondaryText {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -3%;
    color: #a7aa07;
  }

   @media (max-width: 480px) {
    .secondaryText {
        font-family: Urbanist;
        font-size: 18px;
        line-height: 20px;
    }
}